/* submit button design */
button {
  background-color: #4056A1;
  color: #FFFFFF;
  border: 2px solid #4056A1;
  cursor: pointer
}
/* submit button and counter */
.submit {
  font-family: 'Bungee', cursive;
  display: flex;
  justify-content: space-between;
  margin-top: .5em;
}

/* text box design */
#tweet-text {
  width: 100%;
  background-color: #f4f1ec;
  border: none;
  outline: none; 
  resize: none;
  border-bottom: 4px solid #545149;
  display: flex;
  align-self: flex-end;
  font-size: 20px;
}

section.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1em;
  display: none;
}

label {
  font-weight: bold;
}
/* error message when length of the tweet is either 0 or over 140 */
.error {
  padding-top: 1%;
  color: red;
  font-size: 18px;
  font-weight: bold;
  display: none;
}

